langmuir/data/
__pycache__
.ipynb_checkpoints/
data/
OES_Studenti_2017/
fantz-data/
Relazione_GyM/*.aux
Relazione_GyM/*.lof
Relazione_GyM/*.log
Relazione_GyM/*.lot
Relazione_GyM/*.fls
Relazione_GyM/*.out
Relazione_GyM/*.toc
Relazione_GyM/*.fmt
Relazione_GyM/*.fot
Relazione_GyM/*.cb
Relazione_GyM/*.cb2
Relazione_GyM/*.jpg
Relazione_GyM/*.tex.backup
Relazione_GyM/*.upa
Relazione_GyM/*.kilepr
2302/
2702/
PeakUtils-1.0.3.tar.gz
.idea/
